<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

<nav class="navbar navbar-expand-lg bg-success">
  <a class="navbar-brand" href="#">logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{ '/' }}">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ '/produit' }}">Produit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ '/propos' }}">A propos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ '/contact' }}">Contact</a>
      </li>
    </ul>
  </div>
</nav>

        {% block body %}{% endblock %}
        <footer>
        <div class="footer-sport">
        <h4>SportShop</h4>
        <p>Notre entreprise, SportShop, est spécialisée dans la vente de produits de sport 
    de haute qualité pour les athlètes de tous niveaux. Nous avons une grande sélection 
    de marques reconnues dans le monde entier pour répondre à tous vos besoins en matière 
    de sport, que vous soyez un débutant ou un athlète professionnel.</p>
    </div>
    <div class="pages">
        <h4>Page</h4>
        <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{ '/' }}">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ '/produit' }}">Produit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ '/propos' }}">A propos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ '/contact' }}">Contact</a>
      </li>
    </ul>
    </div>
     <div class="contact">
        <h4>Contact</h4>
        <ul class="navbar-nav">
      <li class="nav-item active">
       <p>06 60 60 60 60</p>
      </li>
      <li class="nav-item">
       <p>80 rue des Jacobins , Amiens 80000</p>
        
      </li>
      <li class="nav-item">
       <p>email@email.com</p>
        
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ '/contact' }}">Contact</a>
      </li>
    </ul>
    </div>
    </footer>
   
    </body>
</html>
